<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./includes/head.ejs') %>
  </head>
  <body>
    <%- include('./includes/navbar.ejs') %>
    <!-- <div class="background"> 
      <div class="container">
        <div class="screen" >
          <div class="screen-header">
            <div class="screen-header-left">
              <div class="screen-header-button close"></div>
              <div class="screen-header-button maximize"></div>
              <div class="screen-header-button minimize"></div>
            </div>
            <div class="screen-header-right">
              <div class="screen-header-ellipsis"></div>
              <div class="screen-header-ellipsis"></div>
              <div class="screen-header-ellipsis"></div>
            </div>
          </div>
          <div class="screen-body">
            <div class="screen-body-item left">
              <div class="app-title">
                <span>CONTACT</span>
                <span>US</span>
              </div>
              <div class="app-contact">
                CONTACT INFO : 07025473026, 08050672254
              </div>
            </div>
            <div class="screen-body-item">
              <div class="app-form">
                <div class="app-form-group">
                  <input class="app-form-control" placeholder="NAME" />
                </div>
                <div class="app-form-group">
                  <input class="app-form-control" placeholder="EMAIL" />
                </div>
                <div class="app-form-group">
                  <input class="app-form-control" placeholder="CONTACT NO" />
                </div>
                <div class="app-form-group message">
                  <textarea
                    class="app-form-control"
                    placeholder="Type Your Inquiry Here..."
                    name="message"
                    id="message"
                    cols="10"
                    rows="10"
                  ></textarea>
                </div>
                <div class="app-form-group buttons">
                  <button type="reset" class="app-form-button">CANCEL</button>
                  <button type="submit" class="app-form-button" onsubmit="sendEmail()">SEND</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- sendEmail(); reset(); return false;" -->
    <div class="mycontain">
      <form class="contact-form">
        <h3>CONTACT US</h3>
        <input
          type="text"
          name="name"
          id="name"
          placeholder="your name"
          required
        />
        <input
          type="email"
          name="email"
          id="email"
          placeholder="your email"
          required
        />
        <input
          type="tel"
          name="phone"
          id="phone"
          placeholder="phone number"
          required
        />
        <input
          type="text"
          name="subject"
          id="subject"
          placeholder="Subject"
          required
        />
        <textarea
          name="message"
          id="message"
          rows="4"
          placeholder="How can we help you?"
        ></textarea>
        <button type="submit">Send</button>
      </form>
    </div>

    <script>
      const contactform = document.querySelector(".contact-form");
      let name = document.getElementById("name");
      let email = document.getElementById("email");
      let phone = document.getElementById("phone");
      let subject = document.getElementById("subject");
      let message = document.getElementById("message");

      contactform.addEventListener("submit", (e) => {
        e.preventDefault();
        // console.log("submit checked");

        let formData = {
          name: name.value,
          email: email.value,
          phone: phone.value,
          subject: subject.value,
          message: message.value,
        };

        // console.log(formData);
        let xhr = new XMLHttpRequest();
        xhr.open("POST", "/contact-us");
        xhr.setRequestHeader("content-type", "application/json");
        xhr.onload = function () {
          console.log(xhr.responseText);
          if (xhr.responseText == "success") {
            alert("email sent");
            name.value = "";
            email.value = "";
            phone.value = "";
            subject.value = "";
            message.value = "";
          } else {
            alert("something went wrong");
          }
        };
        xhr.send(JSON.stringify(formData));
      });
    </script>

    <!-- <script src="https://smtpjs.com/v3/smtp.js"></script>
    <script>
      function sendEmail() {
        Email.send({
          Host: "smtp.gmail.com",
          Username: "jessieoyaks4j@gmail.com",
          Password: "AB422D00C5B7B173D660FB5389F9D76CE709",
          To: "jessieoyaks4j@gmail.com",
          From: document.getElementById("email").value,
          Subject: "Peninel Johnson and brothers",
          Body:
            "Name :" +
            document.getElementById("name").value +
            "<br> Email: " +
            document.getElementById("email").value +
            "<br> Phone Number: " +
            document.getElementById("phone").value +
            "<br> Message: " +
            document.getElementById("message").value,
        }).then((message) => alert("Message Sent successfully"));
      }
    </script> -->
  </body>
</html>
