body {
  background-color: #C4DDFF;
}
.nav-title {
  color: #15133c;
}
.navbar {
  background-color: #a1c9ff !important;
  font-family: "sora", sans-serif;
  border-bottom: 1px solid #ebf5ff;
}

.nav-subheading {
  font-size: 20px;
  margin-left: 100px;
  font-weight: 400 !important;
}

.main-nav {
  margin-right: 400px;
}

.first-section {
  background-color: #a1c9ff;
  height: 540px;
  /* display: flex !important; */
  /* flex-direction: row !important; */
  position: absolute;
  width: 100%;
}

.first-section > div > p {
  /* height: 580px; */
  color: #001d6e;
  font-weight: 600;
  font-size: 25px !important;
  text-transform: capitalize;
  /* width: 400px; */
  font-size: 20px;
  /* float: left; */
  position: relative;
  top: 130px;
  left: 30px;
}

.first-section > div > a {
  position: relative;
  top: 200px;
}

.home-pic {
  /* float: right; */
  position: relative;
  left: 800px;
  bottom: 150px;
}

.bouncy {
  animation: bouncy 5s infinite linear;
  position: relative;
}

@keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}

a.button1 {
  /* margin-top: 20px !important; */
  /* padding-bottom: 10px !important; */
  background-color: #001d6e;
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #001d6e;
  margin: 0 0.3em 0.3em 2em;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
  border-radius: 5px;
  height: 40px;
  position: relative !important;
  top: 150px !important;
}
a.button1:hover {
  color: #ffffff;
  background-color: #001d6e;
}

.second-section {
  position: relative;
  z-index: 2;
  padding-top: 20px !important;
}

.contain {
  margin-top: 570px;
  text-align: center;
  padding-bottom: 30px !important;
}

.second-section > h4 {
  color: #001d6e;
  font-weight: 600;
  /* margin-top: 20px !important; */
}

.underline {
  width: 40px;
  height: 7px;
  margin-left: 640px;
  margin-bottom: 10px !important; /*not working*/
  background-color: #001d6e;
  border-radius: 10px;
}

.item-container {
  width: 100%;
  padding-left: 10px;
  padding-right: 30px;
  
}

.item {
  background-color: #92b4ec;
  width: 325px;
  height: 400px;
}

.grid {
  /* border: 5px solid rgb(111,41,97); */
  display: grid;
  grid-template-areas:
    "one one two two"
    "one one two two"
    "three three four four"
    "three three four four";
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 100px);
  inline-size: 500px;
}

.grid > * {
  background-color:#92B4EC;
  border-radius: 5px;
  padding: 10px;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.footer {
  padding: 15px !important;
  /* padding-bottom: 0px !important; */
  background-color: #a1c9ff;
  margin-top: 120px !important;
  color: #001D6E;
}

footer > span > svg {
  margin-right: 30px;
  margin-left: 20px;
}

.svg-margin {
  margin-bottom: 20px;
}

.copyright {
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}