body {
  background-color: #c4ddff;
}
.nav-title {
  color: #15133c;
}
.navbar {
  background-color: #c4ddff !important;
  font-family: "sora", sans-serif;
  border-bottom: 1px solid #ebf5ff;
}

.nav-subheading {
  font-size: 20px;
  margin-left: 100px;
  font-weight: 400 !important;
}

.main-nav {
  margin-right: 400px;
}

.first-section {
  background-color: #c4ddff;
  height: 630px !important;
  /* flex-direction: row !important; */
  width: 100%;
}

.first-section > div > p {
  /* height: 580px; */
  color: #001d6e;
  font-weight: 600;
  font-size: 25px !important;
  text-transform: capitalize;
  /* width: 400px; */
  font-size: 20px;
  /* float: left; */
  position: absolute;
  top: 180px;
  left: 30px;
}

.first-section > div > a {
  position: relative;
  top: 200px !important;
}

.home-pic {
  /* float: right; */
  position: relative;
  left: 800px;
  bottom: 10px;
}

.second-section {
  position: relative;
  background-color: #ffffff;
  z-index: 2;
  padding-top: 50px !important;
  padding-bottom: 30px !important;
  height: 700px;
}

.contain {
  /* margin-top: 570px; */
  text-align: center;
  padding-bottom: 30px !important;
}

.second-section > h4 {
  color: #001d6e;
  font-weight: 600;
  /* margin-top: 20px !important; */
}

.underline {
  width: 40px;
  height: 7px;
  margin-left: 640px;
  margin-bottom: 10px !important; /*not working*/
  background-color: #001d6e;
  border-radius: 10px;
}

.item-container {
  width: 100%;
  padding-left: 10px;
  padding-right: 30px;
}

.item {
  background-color: #92b4ec;
  width: 325px;
  height: 400px;
}

.footer {
  /* border-top: 1px solid #ffffff; */
  padding: 20px !important;
  /* padding-bottom: 0px !important; */
  background-color: #c4ddff;
  margin-top: 30px !important;
  color: #001d6e;
}

.footer > h4 {
  margin-right: 30px !important;
}

copyright {
  color: #001d6e !important;
  text-align: center;
}

footer > span > svg {
  margin-right: 10px;
  margin-left: 10px;
}

.svg-margin {
  margin-bottom: 20px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 12px;
}

input {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.background {
  display: flex;
  min-height: 100vh;
}

.container {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}

.screen {
  position: relative;
  background: #ffffff;
  border-radius: 15px;
  margin-bottom: 30px;
}

.screen:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #92b4ec;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ffffff;
}

.screen-header-button.maximize {
  background: #ffffff;
}

.screen-header-button.minimize {
  background: #ffffff;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #ffffff;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #2f3093;
  font-size: 26px;
}

.app-title:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #2f3093;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #2f3093;
}

.app-form-group {
  margin-bottom: 10px;
}

.app-form-group .message {
  margin-top: 30px;
  color: #2f3093;
  font-size: 16px;
  outline: none;
  transition: border-color 0.2s;
  font-weight: 400 !important;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 2px solid #2f3093;
  color: #2f3093;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color 0.2s;
}

.app-form-control::placeholder {
  color: #2f3093;
}

textarea::placeholder {
  font-weight: 500 !important;
}

.app-form-control:focus {
  border-bottom-color: #2f3093;
}

.app-form-button {
  background: none;
  border: none;
  color: #2f3093;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #2f3093;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}

.masthead {
  background-color: #005b75;
}

.masthead p,
.masthead p a {
  color: white;
}

.site-title {
  color: white;
}

img {
  display: block;
  border: 0;
  width: 100%;
  height: auto;
}

.card {
  background: #92b4ec;
  margin-bottom: 2em;
}

.card a {
  color: black;
  text-decoration: none;
}

.card-content h2 {
  margin-top: 0;
  /* margin-bottom: 0.5em; */
  font-weight: bold;
}

.card-content p {
  font-size: 80%;
}

/* Flexbox stuff */

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  flex: 0 1 24%;
}

.button-64 {
  align-items: center;
  background-image: #001d6e;
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(50, 45, 198, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 16px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 2px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  height: 55px;
  position: relative !important;
  top: 250px !important;
  left: 16px !important;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: #001d6e;
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: #a6c2ea;
}

.product-info {
  height: 208px;
  width: 318px;
  background-color: #ffffff63;
  position: relative;
  bottom: 230px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}

.product-info > p {
  color: #001d6e;
  font-weight: 700;
  font-size: 24px;
  padding-top: 35px;
  text-align: center;
  /* padding-left: 15px; */
}

.button-kernel {
  align-items: center;
  background-image: #001d6e;
  border: 0;
  border-radius: 15px;
  box-shadow: rgba(50, 45, 198, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 16px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 2px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  height: 55px;
  position: relative !important;
  top: -5px !important;
  left: 60px !important;
}

.button-kernel:active,
.button-kernel:hover {
  outline: 0;
}

.button-kernel span {
  background-color: #001d6e;
  padding: 16px 24px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-kernel:hover span {
  background: #216ed8;
}

.product-info2 {
  height: 208px;
  width: 318px;
  background-color: #ffffff63;
  position: relative;
  left: 336px;
  bottom: 440px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}

.product-info2 > p {
  color: #001d6e;
  font-weight: 700;
  font-size: 24px;
  padding-top: 35px;
  text-align: center;
  /* padding-left: 15px; */
}

.button-oil {
  align-items: center;
  background-image: #001d6e;
  border: 0;
  border-radius: 15px;
  box-shadow: rgba(50, 45, 198, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 16px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 2px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  height: 55px;
  position: relative !important;
  top: -5px !important;
  left: 60px !important;
}

.button-oil:active,
.button-oil:hover {
  outline: 0;
}

.button-oil span {
  background-color: #001d6e;
  padding: 16px 24px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-oil:hover span {
  background: #216ed8;
}

.product-info3 {
  height: 208px;
  width: 318px;
  background-color: #ffffff63;
  position: relative;
  left: 671px;
  bottom: 648px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}

.product-info3 > p {
  color: #001d6e;
  font-weight: 700;
  font-size: 24px;
  padding-top: 35px;
  text-align: center;
  /* padding-left: 15px; */
}

.button-s {
  align-items: center;
  background-image: #001d6e;
  border: 0;
  border-radius: 15px;
  box-shadow: rgba(50, 45, 198, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 16px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 2px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  height: 55px;
  position: relative !important;
  top: -5px !important;
  left: 60px !important;
}

.button-s:active,
.button-s:hover {
  outline: 0;
}

.button-s span {
  background-color: #001d6e;
  padding: 16px 24px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-s:hover span {
  background: #216ed8;
}

.product-info4 {
  height: 208px;
  width: 318px;
  background-color: #ffffff63;
  position: relative;
  left: 1007px;
  bottom: 855px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}

.product-info4 > p {
  color: #001d6e;
  font-weight: 700;
  font-size: 24px;
  padding-top: 35px;
  text-align: center;
  /* padding-left: 15px; */
}

.button-w {
  align-items: center;
  background-image: #001d6e;
  border: 0;
  border-radius: 15px;
  box-shadow: rgba(50, 45, 198, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 16px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 2px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  height: 55px;
  position: relative !important;
  top: -5px !important;
  left: 60px !important;
}

.button-w:active,
.button-w:hover {
  outline: 0;
}

.button-w span {
  background-color: #001d6e;
  padding: 16px 24px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-w:hover span {
  background: #216ed8;
}

.my-container {
  background-color: #ffffff;
  margin: 30px 50px 20px 180px;
  border: 2px solid #92b4ec;
  /* justify-content: center; */
  padding: 20px 40px 40px;
  max-width: 950px;
  max-height: 500px;
  display: flex;
}
.container__image {
  background-color: #92b4ec;
  border-radius: 10px;
  margin: 20px 100px 0 0;
  width: 500px;
  -o-object-fit: contain;
  object-fit: contain;
  /* align-self: flex-start; */
}
.container__text {
  margin-top: 150px;
  flex: 1 1 auto;
  text-align: center;
}

.title {
  color: #001d6e;
  font-size: 30px;
  font-weight: 600;
}

.subtitle {
  font-size: 13px;
  font-weight: 600;
  color: #001d6e;
}

.item-info {
  font-size: 25px;
  font-weight: 600;
  color: #001d6e;
}

.naira {
  color: #001d6e !important;
}

.mycontain {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #001d6e;
}

form {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
}

form h3 {
  color: #555;
  font-weight: 800;
  margin-bottom: 20px;
}

form input,
form textarea {
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background: #f5f5f5;
  font-size: 16px;
}

form button {
  padding: 15px;
  background: #216ed8;
  color: #ffffff;
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;
}

@media (min-width: 950px) and (max-width: 1024px) {
  .main-nav {
    margin-right: 70px;
  }

  .nav-item {
    /* background-color: #001d6e94; */
  }

  .first-section > div > p {
    font-size: 20px !important;
    position: absolute;
    top: 180px;
    left: 30px;
  }

  .home-pic {
    position: relative;
    left: 500px;
    bottom: 10px;
  }

  .contain {
    text-align: center;
    padding-bottom: 30px !important;
  }

  .second-section > h4 {
    color: #001d6e;
    font-weight: 700;
  }

  .underline {
    width: 40px;
    height: 7px;
    margin-left: 475px;
  }

  .product-info {
    height: 190px;
    width: 240px;
    position: relative;
    bottom: 198px;
  }

  .button-kernel {
    position: relative !important;
    top: -5px !important;
    left: 25px !important;
  }

  .product-info2 {
    height: 190px;
    width: 240px;
    position: relative;
    left: 252px;
    bottom: 385px;
  }

  .button-oil {
    position: relative !important;
    top: -5px !important;
    left: 25px !important;
  }

  .product-info3 {
    height: 190px;
    width: 240px;
    position: relative;
    left: 510px;
    bottom: 570px;
  }

  .button-s {
    position: relative !important;
    top: -5px !important;
    left: 25px !important;
  }

  .product-info4 {
    height: 190px;
    width: 240px;
    position: relative;
    left: 760px;
    bottom: 759px;
  }

  .button-w {
    position: relative !important;
    top: -5px !important;
    left: 25px !important;
  }

  .my-container {
    margin: 30px 50px 20px 90px;
    padding: 20px 30px 40px;
  }

  .container__text {
    margin-top: 150px;
  }

  .title {
    font-size: 35px;
  }

  .subtitle {
    font-size: 20px;
  }

  .item-info {
    font-size: 30px;
    font-weight: 600;
    color: #001d6e;
  }

  .palm-button {
    margin-left: 20px !important;
  }

  input {
    font-weight: 700;
    letter-spacing: 1.4px;
  }

  .container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
  }

  .screen {
    margin-bottom: 230px;
  }

  .screen-body-item {
    flex: 1;
    padding: 50px;
  }

  .app-title {
    font-size: 30px;
  }

  .app-contact {
    font-size: 14px;
  }

  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }

  .app-form-control {
    font-size: 20px;
  }

  .app-form-button {
    font-size: 20px;
  }
}

@media (min-width: 912px) and (max-width: 949px) {
  .main-nav {
    margin-right: 70px;
  }

  .nav-item {
    background-color: #001d6e94;
  }

  .first-section > div > p {
    font-size: 33px !important;
    font-weight: 600;
    position: absolute;
    top: 160px;
    left: 30px;
  }

  .button-64 {
    height: 65px;
    position: relative !important;
    top: 270px !important;
    left: 16px !important;
    font-size: 27px;
    min-width: 196px;
  }

  .home-pic {
    display: none;
  }

  .underline {
    margin-left: 425px;
  }

  .product-info {
    height: 190px;
    width: 213px;
    position: relative;
    bottom: 198px;
  }

  .button-kernel {
    position: relative !important;
    top: -5px !important;
    left: 25px !important;
  }

  .product-info2 {
    height: 190px;
    width: 213px;
    position: relative;
    left: 225px;
    bottom: 385px;
  }

  .button-oil {
    position: relative !important;
    top: -5px !important;
    left: 25px !important;
  }

  .product-info3 {
    height: 190px;
    width: 213px;
    position: relative;
    left: 450px;
    bottom: 570px;
  }

  .button-s {
    position: relative !important;
    top: -5px !important;
    left: 25px !important;
  }

  .product-info4 {
    height: 190px;
    width: 213px;
    position: relative;
    left: 675px;
    bottom: 759px;
  }

  .button-w {
    position: relative !important;
    top: -5px !important;
    left: 25px !important;
  }

  .my-container {
    margin: 30px 50px 20px 90px;
    padding: 20px 30px 40px;
  }

  .container__image {
    margin: 20px 70px 0 0;
    width: 270px;
    /* align-self: flex-start; */
  }

  .container__text {
    margin-top: 130px;
  }

  .title {
    font-size: 35px;
  }

  .subtitle {
    font-size: 20px;
  }

  .item-info {
    font-size: 30px;
    font-weight: 600;
    color: #001d6e;
  }

  .palm-button {
    margin-left: 75px !important;
  }
  .cake-button {
    margin-left: 75px !important;
  }
  .sludge-button {
    margin-left: 75px !important;
  }
  .wet-button {
    margin-left: 75px !important;
  }

  input {
    font-weight: 700;
    letter-spacing: 1.4px;
  }

  .container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
  }

  .screen {
    margin-bottom: 230px;
  }

  .screen-body-item {
    flex: 1;
    padding: 50px;
  }

  .app-title {
    font-size: 30px;
  }

  .app-contact {
    font-size: 14px;
  }

  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }

  .app-form-control {
    font-size: 20px;
  }

  .app-form-button {
    font-size: 20px;
  }
}

@media (min-width: 740px) and (max-width: 810px) {
  .main-nav {
    margin-right: 0px;
  }

  .nav-item {
    background-color: #001d6e94;
  }

  .first-section > div > p {
    font-size: 35px !important;
    position: absolute;
    top: 150px;
    left: 30px;
  }

  .home-pic {
    display: none;
  }

  .button-64 {
    height: 65px;
    position: relative !important;
    top: 270px !important;
    left: 16px !important;
    font-size: 30px;
    min-width: 196px;
  }

  .underline {
    margin-left: 355px;
  }

  .product-info {
    height: 150px;
    width: 185px;
    position: relative;
    bottom: 168px;
  }

  .product-info p {
    font-size: 20px !important;
  }

  .button-kernel {
    position: relative !important;
    top: -5px !important;
    left: 10px !important;
  }

  .product-info2 {
    height: 150px;
    width: 185px;
    position: relative;
    left: 185px;
    bottom: 315px;
  }

  .product-info2 p {
    font-size: 20px !important;
  }

  .button-oil {
    position: relative !important;
    top: -5px !important;
    left: 10px !important;
  }

  .product-info3 {
    height: 150px;
    width: 185px;
    position: relative;
    left: 375px;
    bottom: 465px;
  }

  .product-info3 p {
    font-size: 20px !important;
  }

  .button-s {
    position: relative !important;
    top: -5px !important;
    left: 10px !important;
  }

  .product-info4 {
    height: 150px;
    width: 185px;
    position: relative;
    left: 560px;
    bottom: 615px;
  }

  .product-info4 p {
    font-size: 20px !important;
  }

  .button-w {
    position: relative !important;
    top: -5px !important;
    left: 10px !important;
  }

  .my-container {
    margin: 30px 50px 20px 90px;
    padding: 20px 30px 40px;
  }

  .container__image {
    margin: 20px 70px 0 0;
    width: 300px;
    /* align-self: flex-start; */
  }

  .container__text {
    margin-top: 120px;
  }

  .title {
    font-size: 30px;
  }

  .subtitle {
    font-size: 15px;
  }

  .item-info {
    font-size: 25px;
    font-weight: 600;
    color: #001d6e;
  }

  .palm-button {
    margin-left: 20px !important;
  }

  input {
    font-weight: 700;
    letter-spacing: 1.4px;
  }

  .container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
  }

  .screen {
    margin-bottom: 230px;
  }

  .screen-body-item {
    flex: 1;
    padding: 50px;
  }

  .app-title {
    font-size: 30px;
  }

  .app-contact {
    font-size: 14px;
  }

  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }

  .app-form-control {
    font-size: 20px;
  }

  .app-form-button {
    font-size: 20px;
  }
}

@media (min-width: 811px) and (max-width: 840px) {
  .main-nav {
    margin-right: 0px;
  }

  .nav-item {
    background-color: #001d6e94;
  }

  .first-section > div > p {
    font-size: 35px !important;
    position: absolute;
    top: 150px;
    left: 30px;
  }

  .home-pic {
    display: none;
  }

  .button-64 {
    height: 65px;
    position: relative !important;
    top: 270px !important;
    left: 16px !important;
    font-size: 30px;
    min-width: 196px;
  }

  .underline {
    margin-left: 375px;
  }

  .product-info {
    height: 150px;
    width: 190px;
    position: relative;
    bottom: 168px;
  }

  .product-info p {
    font-size: 20px !important;
  }

  .button-kernel {
    position: relative !important;
    top: -5px !important;
    left: 14px !important;
  }

  .product-info2 {
    height: 150px;
    width: 190px;
    position: relative;
    left: 203px;
    bottom: 315px;
  }

  .product-info2 p {
    font-size: 20px !important;
  }

  .button-oil {
    position: relative !important;
    top: -5px !important;
    left: 14px !important;
  }

  .product-info3 {
    height: 150px;
    width: 190px;
    position: relative;
    left: 405px;
    bottom: 465px;
  }

  .product-info3 p {
    font-size: 20px !important;
  }

  .button-s {
    position: relative !important;
    top: -5px !important;
    left: 14px !important;
  }

  .product-info4 {
    height: 150px;
    width: 190px;
    position: relative;
    left: 606px;
    bottom: 615px;
  }

  .product-info4 p {
    font-size: 20px !important;
  }

  .button-w {
    position: relative !important;
    top: -5px !important;
    left: 14px !important;
  }

  .my-container {
    margin: 30px 50px 20px 90px;
    padding: 20px 30px 40px;
  }

  .container__image {
    margin: 20px 70px 0 0;
    width: 300px;
    /* align-self: flex-start; */
  }

  .container__text {
    margin-top: 120px;
  }

  .title {
    font-size: 30px;
  }

  .subtitle {
    font-size: 15px;
  }

  .item-info {
    font-size: 25px;
    font-weight: 600;
    color: #001d6e;
  }

  .palm-button {
    margin-left: 20px !important;
  }
  .cake-button {
    margin-left: 20px !important;
  }
  .sludge-button {
    margin-left: 20px !important;
  }
  .wet-button {
    margin-left: 20px !important;
  }

  input {
    font-weight: 700;
    letter-spacing: 1.4px;
  }

  .container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
  }

  .screen {
    margin-bottom: 230px;
  }

  .screen-body-item {
    flex: 1;
    padding: 50px;
  }

  .app-title {
    font-size: 30px;
  }

  .app-contact {
    font-size: 14px;
  }

  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }

  .app-form-control {
    font-size: 20px;
  }

  .app-form-button {
    font-size: 20px;
  }
}

@media (min-width: 700px) and (max-width: 739px) {
  .main-nav {
    margin-right: 0px;
  }

  .nav-item {
    background-color: #001d6e94;
  }

  .first-section > div > p {
    font-size: 35px !important;
    position: absolute;
    top: 150px;
    left: 30px;
  }

  .home-pic {
    display: none;
  }

  .button-64 {
    height: 65px;
    position: relative !important;
    top: 270px !important;
    left: 16px !important;
    font-size: 30px;
    min-width: 196px;
  }

  .underline {
    margin-left: 328px;
  }

  .product-info {
    height: 130px;
    width: 165px;
    position: relative;
    bottom: 155px;
  }

  .product-info p {
    font-size: 18px !important;
  }

  .button-kernel {
    position: relative !important;
    top: -5px !important;
    left: 3px !important;
  }

  .product-info2 {
    height: 130px;
    width: 165px;
    position: relative;
    left: 175px;
    bottom: 285px;
  }

  .product-info2 p {
    font-size: 20px !important;
  }

  .button-oil {
    position: relative !important;
    top: -5px !important;
    left: 3px !important;
  }

  .product-info3 {
    height: 130px;
    width: 165px;
    position: relative;
    left: 349px;
    bottom: 415px;
  }

  .product-info3 p {
    font-size: 20px !important;
  }

  .button-s {
    position: relative !important;
    top: -5px !important;
    left: 3px !important;
  }

  .product-info4 {
    height: 130px;
    width: 165px;
    position: relative;
    left: 523px;
    bottom: 545px;
  }

  .product-info4 p {
    font-size: 20px !important;
  }

  .button-w {
    position: relative !important;
    top: -5px !important;
    left: 3px !important;
  }

  .my-container {
    margin: 30px 50px 20px 90px;
    padding: 20px 30px 40px;
  }

  .container__image {
    margin: 20px 20px 0 0;
    width: 300px;
    /* align-self: flex-start; */
  }

  .container__text {
    margin-top: 120px;
  }

  .title {
    font-size: 30px;
  }

  .subtitle {
    font-size: 15px;
  }

  .item-info {
    font-size: 25px;
    font-weight: 600;
    color: #001d6e;
  }

  .palm-button {
    margin-left: 20px !important;
  }

  input {
    font-weight: 700;
    letter-spacing: 1.4px;
  }

  .container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
  }

  .screen {
    margin-bottom: 230px;
  }

  .screen-body-item {
    flex: 1;
    padding: 50px;
  }

  .app-title {
    font-size: 30px;
  }

  .app-contact {
    font-size: 14px;
  }

  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }

  .app-form-control {
    font-size: 20px;
  }

  .app-form-button {
    font-size: 20px;
  }
}

@media (min-width: 620px) and (max-width: 670px) {
  .main-nav {
    margin-right: 0px;
  }

  .nav-item {
    background-color: #001d6e94;
  }

  .first-section > div > p {
    font-size: 30px !important;
    position: absolute;
    top: 150px;
    left: 30px;
  }

  .home-pic {
    display: none;
  }

  .button-64 {
    height: 64px;
    position: relative !important;
    top: 270px !important;
    left: 16px !important;
    font-size: 28px;
    min-width: 196px;
  }

  .underline {
    margin-left: 289px;
  }

  .product-info {
    height: 120px;
    width: 150px;
    position: relative;
    bottom: 140px;
  }

  .product-info p {
    font-size: 15px !important;
  }

  .button-kernel {
    position: relative !important;
    top: -8px !important;
    left: -2px !important;
  }

  .product-info2 {
    height: 120px;
    width: 150px;
    position: relative;
    left: 155px;
    bottom: 260px;
  }

  .product-info2 p {
    font-size: 15px !important;
  }

  .button-oil {
    position: relative !important;
    top: -8px !important;
    left: -2px !important;
  }

  .product-info3 {
    height: 120px;
    width: 150px;
    position: relative;
    left: 313px;
    bottom: 383px;
  }

  .product-info3 p {
    font-size: 15px !important;
  }

  .button-s {
    position: relative !important;
    top: -8px !important;
    left: -2px !important;
  }

  .product-info4 {
    height: 120px;
    width: 150px;
    position: relative;
    left: 468px;
    bottom: 502px;
  }

  .product-info4 p {
    font-size: 15px !important;
  }

  .button-w {
    position: relative !important;
    top: -8px !important;
    left: -2px !important;
  }

  .my-container {
    margin: 30px 50px 20px 90px;
    padding: 20px 30px 40px;
  }

  .container__image {
    margin: 20px 20px 0 0;
    width: 250px;
    /* align-self: flex-start; */
  }

  .container__text {
    margin-top: 120px;
  }

  .title {
    font-size: 30px;
  }

  .subtitle {
    font-size: 15px;
  }

  .item-info {
    font-size: 25px;
    font-weight: 600;
    color: #001d6e;
  }

  .palm-button {
    margin-left: 20px !important;
  }
  .cake-button {
    margin-left: 20px !important;
  }
  .sludge-button {
    margin-left: 20px !important;
  }
  .wet-button {
    margin-left: 20px !important;
  }

  input {
    font-weight: 700;
    letter-spacing: 1.4px;
  }

  .container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
  }

  .screen {
    margin-bottom: 230px;
  }

  .screen-body-item {
    flex: 1;
    padding: 50px;
  }

  .app-title {
    font-size: 30px;
  }

  .app-contact {
    font-size: 14px;
  }

  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }

  .app-form-control {
    font-size: 20px;
  }

  .app-form-button {
    font-size: 20px;
  }
}

@media (min-width: 550px) and (max-width: 610px) {
  .main-nav {
    margin-right: 0px;
  }

  .nav-item {
    background-color: #001d6e94;
  }

  .first-section > div > p {
    font-size: 30px !important;
    position: absolute;
    top: 150px;
    left: 30px;
  }

  .home-pic {
    display: none;
  }

  .button-64 {
    height: 64px;
    position: relative !important;
    top: 270px !important;
    left: 16px !important;
    font-size: 28px;
    min-width: 196px;
  }

  .underline {
    margin-left: 269px;
  }

  .product-info {
    height: 120px;
    width: 139px;
    position: relative;
    bottom: 140px;
  }

  .product-info p {
    font-size: 15px !important;
  }

  .button-kernel {
    font-size: 13px;
    font-weight: 600;
    position: relative !important;
    top: -8px !important;
    left: -2px !important;
  }

  .product-info2 {
    height: 120px;
    width: 139px;
    position: relative;
    left: 146px;
    bottom: 260px;
  }

  .product-info2 p {
    font-size: 15px !important;
  }

  .button-oil {
    position: relative !important;
    top: -8px !important;
    left: -2px !important;
    font-size: 13px;
    font-weight: 600;
  }

  .product-info3 {
    height: 120px;
    width: 139px;
    position: relative;
    left: 292px;
    bottom: 383px;
  }

  .product-info3 p {
    font-size: 15px !important;
  }

  .button-s {
    position: relative !important;
    top: -8px !important;
    left: -2px !important;
    font-size: 13px;
    font-weight: 600;
  }

  .product-info4 {
    height: 120px;
    width: 139px;
    position: relative;
    left: 438px;
    bottom: 502px;
  }

  .product-info4 p {
    font-size: 15px !important;
  }

  .button-w {
    position: relative !important;
    top: -8px !important;
    left: -2px !important;
    font-size: 13px;
    font-weight: 600;
  }

  .my-container {
    margin: 30px 50px 20px 90px;
    padding: 20px 30px 40px;
  }

  .container__image {
    margin: 20px 20px 0 0;
    width: 200px;
    /* align-self: flex-start; */
  }

  .container__text {
    margin-top: 80px;
  }

  .title {
    font-size: 30px;
  }

  .subtitle {
    font-size: 15px;
  }

  .item-info {
    font-size: 25px;
    font-weight: 600;
    color: #001d6e;
  }

  .palm-button {
    margin-left: 20px !important;
  }
  .cake-button {
    margin-left: 20px !important;
  }
  .sludge-button {
    margin-left: 20px !important;
  }
  .wet-button {
    margin-left: 20px !important;
  }

  input {
    font-weight: 700;
    letter-spacing: 1.4px;
  }

  .container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
  }

  .screen {
    margin-bottom: 230px;
  }

  .screen-body-item {
    flex: 1;
    padding: 50px;
  }

  .app-title {
    font-size: 25px;
  }

  .app-contact {
    font-size: 14px;
  }

  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }

  .app-form-control {
    font-size: 15px;
  }

  .app-form-button {
    font-size: 15px;
  }
}

@media (min-width: 500px) and (max-width: 549px) {
  .main-nav {
    margin-right: 0px;
  }

  .nav-item {
    background-color: #001d6e94;
  }

  .first-section > div > p {
    font-size: 30px !important;
    position: absolute;
    top: 150px;
    left: 30px;
  }

  .home-pic {
    display: none;
  }

  .button-64 {
    height: 64px;
    position: relative !important;
    top: 270px !important;
    left: 16px !important;
    font-size: 28px;
    min-width: 196px;
  }

  .underline {
    margin-left: 269px;
  }

  .product-info {
    height: 120px;
    width: 139px;
    position: relative;
    bottom: 140px;
  }

  .product-info p {
    font-size: 15px !important;
  }

  .button-kernel {
    font-size: 13px;
    font-weight: 600;
    position: relative !important;
    top: -8px !important;
    left: -2px !important;
  }

  .product-info2 {
    height: 120px;
    width: 139px;
    position: relative;
    left: 146px;
    bottom: 260px;
  }

  .product-info2 p {
    font-size: 15px !important;
  }

  .button-oil {
    position: relative !important;
    top: -8px !important;
    left: -2px !important;
    font-size: 13px;
    font-weight: 600;
  }

  .product-info3 {
    height: 120px;
    width: 139px;
    position: relative;
    left: 292px;
    bottom: 383px;
  }

  .product-info3 p {
    font-size: 15px !important;
  }

  .button-s {
    position: relative !important;
    top: -8px !important;
    left: -2px !important;
    font-size: 13px;
    font-weight: 600;
  }

  .product-info4 {
    height: 120px;
    width: 139px;
    position: relative;
    left: 438px;
    bottom: 502px;
  }

  .product-info4 p {
    font-size: 15px !important;
  }

  .button-w {
    position: relative !important;
    top: -8px !important;
    left: -2px !important;
    font-size: 13px;
    font-weight: 600;
  }

  .my-container {
    margin: 30px 50px 20px 90px;
    padding: 20px 30px 40px;
  }

  .container__image {
    margin: 20px 20px 0 0;
    width: 200px;
    /* align-self: flex-start; */
  }

  .container__text {
    margin-top: 80px;
  }

  .title {
    font-size: 30px;
  }

  .subtitle {
    font-size: 15px;
  }

  .item-info {
    font-size: 25px;
    font-weight: 600;
    color: #001d6e;
  }

  .palm-button {
    margin-left: 20px !important;
  }
  .cake-button {
    margin-left: 20px !important;
  }
  .sludge-button {
    margin-left: 20px !important;
  }
  .wet-button {
    margin-left: 20px !important;
  }

  input {
    font-weight: 700;
    letter-spacing: 1.4px;
  }

  .container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
  }

  .screen {
    margin-bottom: 230px;
  }

  .screen-body-item {
    flex: 1;
    padding: 50px;
  }

  .app-title {
    font-size: 25px;
  }

  .app-contact {
    font-size: 14px;
  }

  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }

  .app-form-control {
    font-size: 15px;
  }

  .app-form-button {
    font-size: 15px;
  }
}
