body {
  background-color: #C4DDFF;
}
.nav-title {
  color: #15133c;
}
.navbar {
  background-color: #a1c9ff !important;
  font-family: "sora", sans-serif;
  border-bottom: 1px solid #ebf5ff;
}

.nav-subheading {
  font-size: 20px;
  margin-left: 100px;
  font-weight: 400 !important;
}

.main-nav {
  margin-right: 400px;
}

.first-section {
  background-color: #a1c9ff;
  height: 540px;
  /* display: flex !important; */
  /* flex-direction: row !important; */
  position: absolute;
  width: 100%;
}

.first-section > div > p {
  /* height: 580px; */
  color: #001d6e;
  font-weight: 600;
  font-size: 25px !important;
  text-transform: capitalize;
  /* width: 400px; */
  font-size: 20px;
  /* float: left; */
  position: relative;
  top: 130px;
  left: 30px;
}

.first-section > div > a {
  position: relative;
  top: 200px;
}

.home-pic {
  /* float: right; */
  position: relative;
  left: 800px;
  bottom: 150px;
}

.bouncy {
  animation: bouncy 5s infinite linear;
  position: relative;
}

@keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}

a.button1 {
  /* margin-top: 20px !important; */
  /* padding-bottom: 10px !important; */
  background-color: #001d6e;
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #001d6e;
  margin: 0 0.3em 0.3em 2em;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
  border-radius: 5px;
  height: 40px;
  position: relative !important;
  top: 150px !important;
}
a.button1:hover {
  color: #ffffff;
  background-color: #001d6e;
}

.second-section {
  position: relative;
  z-index: 2;
  padding-top: 20px !important;
}

.contain {
  margin-top: 570px;
  text-align: center;
  padding-bottom: 30px !important;
}

.second-section > h4 {
  color: #001d6e;
  font-weight: 600;
  /* margin-top: 20px !important; */
}

.underline {
  width: 40px;
  height: 7px;
  margin-left: 640px;
  margin-bottom: 10px !important; /*not working*/
  background-color: #001d6e;
  border-radius: 10px;
}

.item-container {
  width: 100%;
  padding-left: 10px;
  padding-right: 30px;
  
}

.item {
  background-color: #92b4ec;
  width: 325px;
  height: 400px;
}

.grid {
  /* border: 5px solid rgb(111,41,97); */
  display: grid;
  grid-template-areas:
    "one one two two"
    "one one two two"
    "three three four four"
    "three three four four";
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 100px);
  inline-size: 500px;
}

.grid > * {
  background-color:#92B4EC;
  border-radius: 5px;
  padding: 10px;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.footer {
  padding: 15px !important;
  /* padding-bottom: 0px !important; */
  background-color: #a1c9ff;
  margin-top: 120px !important;
  color: #001D6E;
}

footer > span > svg {
  margin-right: 30px;
  margin-left: 20px;
}

.svg-margin {
  margin-bottom: 20px;
}


*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 12px;
}

body, button, input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.background {
  display: flex;
  min-height: 100vh;
}

.container {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}

.screen {
  position: relative;
  background: #ffffff;
  border-radius: 15px;
  margin-bottom: 30px;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #2F3093;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ffffff;
}

.screen-header-button.maximize {
  background: #ffffff;
}

.screen-header-button.minimize {
  background: #ffffff;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #ffffff;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #2F3093;
  font-size: 26px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #2F3093;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #2F3093;
}

.app-form-group {
  margin-bottom: 10px;
}

.app-form-group.message {
  margin-top: 30px;
  color: #2F3093;
  font-size: 14px;
  outline: none;
  transition: border-color .2s;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 2px solid #2F3093;
  color: #2F3093;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #2F3093;
}

.app-form-control:focus {
  border-bottom-color: #2F3093;
}

.app-form-button {
  background: none;
  border: none;
  color: #2F3093;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #2F3093;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}
